* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'SF Pro Display Regular';
  src: url('/fonts/SF-Pro-Display-Regular.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display Regular', sans-serif;
  background-color: #eaf0fa;
  color: #333;
  line-height: 1.6;
}
