.table {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 0px rgb(233, 237, 243);
  background: rgb(255, 255, 255);
}

.headers {
  display: flex;
  height: 65px;
  align-items: center;
  color: rgb(94, 119, 147);
  font-size: 14px;
  font-weight: 400;
  line-height: 148%;
  padding: 0 23px 0 40px;
}

.rows {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  height: 65px;
  cursor: pointer;
  border: 1px solid rgb(234, 240, 250);
  padding: 0 23px 0 40px;
}

.row:hover {
  background: rgba(212, 223, 243, 0.17);
}

.row-type {
  text-align: left;
  width: 3.97%;
}

.row-time {
  text-align: left;
  width: 6.47%;
}

.row-avatar {
  text-align: left;
  width: 9.49%;
}

.row-phone {
  text-align: left;
  width: 23.9%;
}

.row-source {
  text-align: left;
  width: 15.74%;
  color: rgb(94, 119, 147);
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

.row-score {
  text-align: left;
  width: 12.09%;
}

.row-length {
  justify-content: flex-end;
  width: 28.9%;
}
